package test 

import "time"

// Line comment

/*
multi
line
comment
*/

templ templ_function() {
    <div>A div</div>
    // <div>A commented div</div>
    /* <div>A multiline commented div </div> */
}

func golang_function() {
    a := 5
    // a = 6
    /* 
    a = 7
    */
}
